<div class="grid grid-cols-* ">
    <div class="flex flex-wrap justify-center">
        <div class="w-full-sm:w-1/2-md:-1/3 h-fit" *ngFor="let character of characters" (click)="openModal(character)">
            <!-- Character Card -->
            <div class="max-w-sm bg-slate-800 border-slate-500 border-b rounded-xl p-4 pb-6 sm:p-10 sm:pb-8 lg:p-6 xl:p-10 xl:pb-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8 m-2">
                <div class="flex items-center space-x-4">
                    <!--Image-->
                    <a class="hover:cursor-pointer">
                        <img [src]="character.image" alt="" width="88" height="88" class="flex-none rounded-lg bg-slate-100" loading="lazy" />
                    </a>
                    <div class="min-w-0 flex-auto space-y-1 font-semibold">
                        <a class="hover:cursor-pointer">
                            <!--Gender-->
                            <p class="text-cyan-400 text-sm leading-6">
                              <abbr title="Episode">Gender:</abbr> <span>{{character.gender}}</span>
                            </p>
                            <!--Specie and Name-->
                            <h2 class="text-slate-400 text-sm leading-6">
                              Specie: {{character.species}}
                            </h2>
                            <p class="text-slate-50 text-base">
                              Name: {{character.name | slice:0:12}}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full mt-5 container-notFound" *ngIf="characters.length <= 0">
           <p>Evil Morty Delete this character... who it was?</p>
        </div>
        <button class="fixed bottom-0 right-0 bg-blue-950 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full m-5">Top</button>
    </div>
</div>



<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <div class="flex items-start justify-between p-5 border-b border-solid bg-slate-800 rounded-t text-white">
                <h3 class="text-3xl font-semibold">
                    More Info
                </h3>
                <button class="p-1 ml-auto bg-transparent border-0 text-white opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
                    <span class="bg-transparent text-white opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                        ×
                    </span>
                </button>
            </div>
            <div class="relative p-6 flex-auto bg-slate-500">
                <div class="flex items-center space-x-4">
                    <img [src]="selectedCharacter.image" alt="Character Image" width="88" height="88" class="flex-none rounded-lg bg-slate-100" loading="lazy" />
                    <img [src]="selectedCharacter.origin.url" alt="Origin Image" class="h-20" />
                    <div class="min-w-0 flex-auto space-y-1 font-semibold">
                        <p class="text-cyan-400 text-sm leading-6">
                            <abbr title="Episode">Gender:</abbr> <span>{{selectedCharacter.gender}}</span>
                        </p>
                        <h2 class="text-slate-400 text-sm leading-6">
                            Specie: {{selectedCharacter.species}}
                        </h2>
                        <p class="text-slate-50 text-base">
                            Name: {{selectedCharacter.name}}
                        </p>
                        <p class="text-slate-50 text-base">
                            Status: {{selectedCharacter.status}}
                        </p>
                        <p class="text-slate-50 text-base">
                            Type: {{selectedCharacter.type}}
                        </p>
                        <p class="text-slate-50 text-base">
                            Location: {{selectedCharacter.location.name}}
                        </p>
                        <p class="text-slate-50 text-base">
                            Origin: {{selectedCharacter.origin.name}}
                        </p>
                        <p class="text-slate-50 text-base">
                            Created: {{selectedCharacter.created | date: 'dd/MM/yyyy'}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
                <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
